
<h1 class="text-center" ><%= @cocktail.name %></h1>
<p class="text-center"><%= image_tag @cocktail.image_url, style: 'height:25%;width:80%;' %></p>


<% @cocktail.doses.each do |dose| %>
  <p> <%= dose.description %>  <%= dose.ingredient.name %></p>
  <hr>
<% end %>

<%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %>


